.advantage{
}


.advantage-picture__img {
    display: block;
    width: 70px;
    height: 70px;
}

.advantage__list {
    max-width: 480px;
    @media screen and (min-width: 768px){
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px){
        max-width: 1200px;
    }
}

.advantage-picture__zone {
    max-width: 100%;
    height: 120px;
    display: flex;
    background: #f5f4fa;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.advantage__title {
    line-height: 42px;
    letter-spacing: 0.03em;
}

.advantage__topic {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.advantage__paragraph {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

      

.advantage__item {
    max-width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
        width: calc((100% - 2 * 15px) / 2);
        &:nth-child(odd){
            margin-right: 15px;
        }
        &:nth-child(even){
            margin-left: 15px;
        }
    }
    @media screen and (min-width: 1200px){
        width: calc((100% - 6 * 15px) / 4);
        margin-right: 15px;
        margin-left: 15px;
        &:last-child{
            margin-right: 0px;
        }
        &:first-child{
            margin-left: 0px;
        }
    }
    display: block;
}
