.footer {
    background-color: #2f303a;
    display: flex;
    align-items: center;
    padding: 60px 0px;
}

.footer-adres__mail,
.footer-adres__phone,
.footer-adres__place {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.footer-adres__place {
    color: #ffffff;
}

.footer-logo {
    margin-bottom: 20px;
    display: block;
}

.footer-adres__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}
.footer__section {
    display: flex;
}

.footer-social {
    margin-left: 70px;
    & .team-icon {
        fill: #ffffff;
    }
}

.footer-social__title,
.footer-conect__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-conect {
    margin-left: 92px;
}

.footer-conect__mailing {
    display: flex;
}

.footer-conect__field {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__button {
    display: flex;
    margin-left: 12px;
    align-items: center;
}

.foorer-mailing__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: tomato;
}

.footer-conect__field {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255);
    &::placeholder {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}
