.klient__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
}

.klient__list {
    display: flex;
    max-width: 480;
    flex-wrap: wrap;
}

.klient__item {
    margin-left: 15px;
    margin-right: 15px;

    @media screen and (max-width: 767px) {
        flex-basis: calc((100% - 2 * 15px) / 2);
        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
        &:nth-child(odd) {
            margin-right: 15px;
        }
        &:nth-child(even) {
            margin-left: 15px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 4 * 15px) / 3);
        &:nth-child(3n + 1) {
            margin-right: 15px;
            margin-left: 0px;
        }
        &:nth-child(3n) {
            margin-left: 15px;
            margin-right: 0px;
        }
        &:nth-child(3n - 1) {
            margin-right: 15px;
            margin-left: 15px;
        }
        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 8 * 15px) / 6);
        margin-left: 0px;
        margin-right: 0px;
    }
}

.klient__link {
    display: block;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus,
    &:hover,
    &:hover use,
    &:focus use {
        border: 1px solid #2196f3;
        fill: #2196f3;
    }
}

.klient__logo {
    max-width: 100%;
    height: 46.7px;
    fill: #afb1b8;
}
