.social__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 44px;
}

.social__zone-icon {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus,
    &:hover .social__icon,
    &:focus .social__icon {
        fill: #ffffff;
        background-color: var(--accent-text-color);
    }
}

.social__icon {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
}
