.section {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    padding: 60px 15px;
    margin-left: 0;
    margin-right: 0;


    &.no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}
